*{
    margin:0;
    padding: 0;
}
.bod{
    margin-top: 50px;
    height: 700px;
    width: 400px;
    background-color: rgb(47, 45, 45);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 300px 80px 80px 80px 80px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 106, 156);
}
button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 30px;
    font-size: large;
}
.inp{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 50px;
    width: 90%;
    margin-top: 60px;
    font-size: 50px;
}
.but{
    height: 60px;
    width: 100px;
    border: 10px solid rgb(53, 47, 47);
    background-color: rgb(173, 166, 166);
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* position: relative; */
}
.toggle{
    margin-top: 50px;
    margin-left: 100px;
}
.tb{
    width: 50%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 50%;
    transition: 1s;
    border: 2px solid black;
}
.chan{
    background-color: rgb(53, 50, 50);
    transform: translateX(45px);
}
.jackie{
    background-color: rgb(53, 53, 61);
}