*{
    margin:0;
    padding: 0;
}
.bod{
    margin-top: 50px;
    height: 700px;
    width: 400px;
    background-color: rgb(47, 45, 45);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 300px 80px 80px 80px 80px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 30px;
    font-size: large;
}
.inp{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 50px;
    width: 90%;
    margin-top: 60px;
}

